.contactos {
    .container__contenido__contacto {
        background-color: $color-fondo;
        margin-top: 10px;
        padding: 30px;
        width: 400px;
        height: 400px;

        p {
            font-size: 2rem;
        }

        .container__contenido__contacto__imagenes {
            width: 150px;
            margin: 0 auto;

            a {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }

    .container__contenido__form {
        background-color: $color-fondo;
        margin-top: 10px;
        padding: 30px;
        width: 400px;
        height: 400px;

        .container__contenido__form__field {
            display: flex;
            flex-direction: column;
            gap: 20px;

            legend {
                font-size: 2rem;
            }

            .contactos__contenido__form__input {
                display: flex;
                flex-direction: column;

                input {
                    border: solid 2px black;
                    border-radius: 5px;
                }

                textarea {
                    border: solid 2px black;
                    border-radius: 5px;
                }
            }

            .boton-enviar {
                width: 100px;
                padding: 10px;
                background-color: pink;
                border: none;
                border-radius: 5px;
                margin: 0 auto;
                transition: 200ms;
            }

            .boton-enviar:hover {
                background-color: rgb(255, 170, 184);
                transform: scale(1.2);
                transition: 200ms;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .contactos {
        .contactos__contenido {
            .container__contenido__contacto {
                width: 700px;
                height: 500px;

                p {
                    font-size: 3.5rem;
                }
            }

            .container__contenido__form {
                width: 700px;
                height: 850px;

                .container__contenido__form__field {
                    legend {
                        font-size: 5rem;
                    }

                    .contactos__contenido__form__input {
                        label {
                            font-size: 2rem;
                        }

                        input {
                            height: 50px;
                            font-size: 40px;
                        }

                        textarea {
                            height: 150px;
                            font-size: 1.5rem;
                        }
                    }

                    .boton-enviar {
                        width: 200px;
                        height: 70px;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1024px) {
    .contactos__contenido {
        display: flex;
        gap: 50px;

        .container__contenido__contacto {
            height: 100%;
        }
    }
}